[Unit]
Description=automatic TA service

[Service]
ExecStart=/var/orbit/cano.py/mercury/onsub.sh
WorkingDirectory=/var/orbit/email_data/logs
Type=exec
